

#phone-center {
    position: absolute;
    width: 100%;
}
#phone {
    width: 71.4mm;
    height: 144mm;
    margin: auto;
    position: relative;

}
#phone-image {
    width: 100%;
    height: 100%;
    position: relative;
}
#datetime {
    font-size: 11px;
    position: absolute;
    top: 25px;
    left: 35px;
}
#phone-menu-background {
    position: absolute;
    top: 54px;
    width: 57.4mm;
    left: 7mm;
}
#phone-menu {
    top: 40px;
	display: flex;
    flex-wrap: wrap;
}
.icon-container {
    width: 40px;
    height: 40px;
    margin: 7px;
    border-radius: 20%;
    background-color: #ececec;
    position: relative;
    overflow: hidden;
}
.phone-app-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#phone-background {
    background-color: red;
    height: 136mm;
    width: 63.4mm;
    margin: 4mm;
    position: absolute;
    z-index: -1;
    /* background:url(images/background1.jpeg) no-repeat 0 0; */
    background: url(images/cat_background.jpg) no-repeat 0 0;
    background-position: center;
	background-size:cover;
}
#bottom-app-box {
    width: 57.4mm;
    left: 7mm;
    height: 54px;
    background-color: black;
    -webkit-backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    -o-backdrop-filter: blur(20px);
    -ms-backdrop-filter: blur(20px);
    backdrop-filter: blur(50px);
    opacity: 0.4;
    position: absolute;
    bottom: 7mm;
    border-radius: 14px;
}